header{
  text-align: center;
  margin-top: 20px;
}
body{
  background-color:#d6eae8;

}
.portfolioContainer{
  margin: auto;
  max-width: 1200px;
}
page-content{
  padding: 20px;
}
.resume{
  padding: 20px;
  margin: auto;
}
img{
  width: 100%;
  padding-bottom: 20px;
  padding: 20px;
  height:100%;
}
.row{
  padding-bottom: 50px;
}
nav{
  background-color:#d6eae8;
}





.centerme{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left:15px;
}

#front-content{
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

footer{
  background: #F8F9FB;
  color: black;
  font-size: 1rem;
  width: 100%;
  height: 50px;
  line-height: 20px;
  position: relative;
  bottom: 0;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.center{
  text-align: center;
}

p{
  font-size: 18px;
}
